$theme-name: 'theme_cold';

//common
$primary-text: #fff;
$primary-fill: #161616;
$secondary-fill: #F1F2F4;
$link-default: #e44f36;
$primary-title: #fff;
$secondary-title: #fff;
$primary-title-decor: #7d90a9;
$secondary-title-decor: #e44f36;
$comments-fill: #f5f3f9;

//header
$header-bg: #161616;
$header-bd: 1px solid #EDF2F5;
$header-color: #313131;

//footer
$footer-bg: #161616;
$footer-bd: #161616;
