mixin banner()
    .banner
        .banner__wrap
            .w-center
                .banner__text-wrap
                    .banner__text
                        h1.banner__image-text-title <span class="colored">Aquatel</span> <span class="empty-font">Inc</span>
                        p.banner__image-text-subtitle