mixin footer()
    footer.footer
        .w-center
            .footer__wrap
                .footer__mail
                    a(href="mailto:info@miksartis.lt") Email: info@miksartis.lt
                .footer__adress Pavadinimas: UAB Miksartis Buveinės adresas: Vilnius, Sausio 13-osios g. 2-222
                .footer__phone
                    a(href="tel:+37052059820") Tel: +37052059820