mixin footer()
    footer.footer
        .w-center
            .footer__wrap
                .footer__mail
                .footer__adress Pavadinimas: UAB Miksartis Buveinės adresas: Vilnius, Sausio 13-osios g. 2-222
