extends _page-template

block content
    | <!-- skin 1 -->

    .w-inner
        .w-center
            .w-gap-lg
                h1.banner__image-text-title.colored AudioCodes
            .w-gap-lg
                p Компания AudioCodes Ltd. специализируется в области технологии конвергенции голоса и данных, разрабатывает технологии голосовой пакетной передачи и проектирует системы для конвергентных сетей. Пакетной телефонией занимается с 1998 года. Главный офис компании расположен в Израиле, с представительствами компании в США и Китае.

                p Компания AudioCodes предлагает инновационные, надежные, рентабельные технологии, продукты и системные решения для поставщиков оборудования и системных интеграторов. Является лидером на рынке VoIP-индустрии в области технологии сжатия голоса, является разработчиком стандарта ITU G.723.1.
            .w-gap-lg
                .txt-wrap
                    .img-left-text
                        .img-left-text__img
                            img(src="static/img/content/321.png" alt="")
                        .img-left-text__wrapper
                            .img-left-text__text-wrap
                                .img-left-text__text В линейку продуктов компании AudioCodes входят микропроцессорные системы для оборудования VoIP, VoIP PCI и cPCI-платы, модули для медиа-шлюзов VoIP и аналоговые и цифровые телефонные шлюзы с протоколами SIP, MGCP/MEGACO, H.323. Эти продукты легко интегрируются в большинство современных, надежных и проверенных временем платформ Voice over IP и Voice over ATM, которые успешно используются ведущими мировыми телекоммуникационными операторами.

            .w-gap-lg
                p Технологические продукты компании AudioCodes используются ведущими мировыми поставщиками телекоммуникационного оборудования, такими как Lucent Technologies, Cisco Systems, VocalTec и др.
            .w-gap-lg