extends _page-template

block content
    | <!-- skin 1 -->

    .w-inner
        .w-center
            .w-gap-lg
                h1.banner__image-text-title.colored Avaya
            .w-gap-lg
                p Avaya – мировой лидер в области решений и услуг для построения корпоративных сетей связи. Инновационные решения Avaya а области коммуникаций, CRM-технологии позволяют решать задачи взаимодействия государственных структур с гражданами, повышать эффективность экономики в различных секторах, создавать технологическую основу для дальнейшего развития электронной коммерции.
                p Более 90% компаний из списка крупнейших корпораций мира Fortune 500 так же как и государственные организации используют технологии и решения Avaya по построению защищенных сетевых инфраструктур передачи голоса и данных и надежных приложений.
                p Среди предложений компании на рынках России и стран СНГ превосходно зарекомендовавшее себя оборудование – коммуникационный сервер DEFINITY®, коммутаторы Cajun®, СКС SYSTIMAX®, решения по построению мультисервисных сетей масштаба предприятия, операторские центры и CRM-решения.
            .w-gap-lg
                h3 Основные направления работы:
                .w-list
                    ul
                        li Kонвергентное оборудование
                        li Решения для Мультисервисных сетей

                    ul
                        li Решения в области операторских центров, системы управления взаимоотношениями с клиентами
                        li Универсальные системы обработки сообщений
                        li Структурированные кабельные системы
            .w-gap-lg
                p Avaya предлагает решения для предприятий любого размера, для различных отраслей, решает коммуникационные задачи любого масштаба. Клиенты компании в Украине и СНГ – крупнейшие государственные и финансовые структуры, промышленные предприятия, транснациональные корпорации, транспортные и телекоммуникационные компании, а также отели и деловые центры.
            .w-gap-lg