extends _page-template

block content
    | <!-- skin 1 -->

    .w-inner
        .w-center
            .w-gap-lg
                h1.banner__image-text-title.colored ClearOne

            .w-gap-lg
                p Компания ClearOne – один из производителей оборудования для организации аудио- и видеоконференций, а также передачи мультимедиа по сетям IP. Портфель решений ClearOne представляет собой спектр оборудования для построения систем аудио- и видеоконференц-связи.
                p Среди продуктов ClearOne есть запатентованные решения, которые не имеют аналогов на рынке. Это микрофонный массив Beamforming, умеющий работать в любой позиции установки и заменяющий порядка 10 традиционных микрофонов, а также сервис для унифицированных коммуникаций Spontania, который позволяет проводить сеансы многоточечной видеосвязи, использовать приложения для отправки мгновенных сообщений, демонстрации презентаций, передачи файлов и управления удаленным рабочим местом.

                p В 1990 году компания вышла на рынок разработки и производства комплектных решений для организации конечных «точек» конференц-связи в различных помещениях – от рабочего стола сотрудника и кабинета руководителя до залов совещаний, конференц-залов и учебных комнат. В дополнение к данному оборудованию компания ClearOne предлагает микрофоны, документ-камеры, видеокоммутационное и другое оборудование, а также другие специализированные продукты для конференц-связи. На данный момент оборудование компании ClearОne используется во всем мире, организациями всех типов и размеров, от небольших компаний до правительственных организаций и известных во всем мире корпораций.
            .w-gap-lg
                .txt-wrap
                    .img-left-text
                        .img-left-text__img
                            img(src="static/img/content/321.png" alt="")
                        .img-left-text__wrapper
                            .img-left-text__text-wrap
                                .img-left-text__text В 2011 году ClearOne присоединилась к промышленному форуму AVnu Alliance, ориентированному на совершенствование аудио- и видеорешений профессионального качества. AVnu Alliance устанавливает и продвигает новые сетевые стандарты IEEE 802.1 Audio/Video Bridging (AVB), а также связанные с ними IEEE 1722 и 1733.

            .w-gap-lg
                p Audio/Video Bridging – это набор стандартов, которые обеспечивают профессиональную качественную передачу аудио- и видеоданных по Ethernet. Они служат надежной основой передачи AV для самых разных приложений.

                p ClearOne является сторонником развития технологических стандартов. Присоединение к AVnu Alliance поможет компании обеспечить распространение продуктов StreamNet, которые используют инновационную технологию синхронизации, управления и распределения AV-контента. Также это создаст условия для беспрепятственной работы устройств StreamNet с другими компонентами AVB.
            .w-gap-lg