extends _page-template

block content
    | <!-- skin 1 -->

    .w-inner
        +banner
        .w-center
            .w-gap-lg
                .img-right-text
                    .img-right-text__wrapper
                        .img-right-text__text-wrap
                            h1.banner__image-text-title.colored О нас
                            .img-right-text__text Компания <span class="colored">Aquatel Inc</span> – специализированный дистрибьютор аудиовизуальных технологий и профессиональных решений видеоконференцсвязи. Наша команда совместно с заказчиком разрабатываем техническое решение проекта. Осуществляем прямую поставку оборудования и полное сопровождение реализации проекта.
                            .w-gap
                            .img-right-text__text <span class="colored">Aquatel Inc</span> является поставщиком более 10 ведущих производителей решений видеоконференцсвязи и медиа-оборудования. Среди которых: AMC, Albiral, Audiocodes, Avaya, Axtel, ClearOne, Siemon, Mitel, Poly и другие.
            .w-gap-lg
                +grid
            .w-gap-xl
                .txt-wrap
                    .img-left-text
                        .img-left-text__img
                            img(src="static/img/content/face.png" alt="")
                        .img-left-text__wrapper
                            .img-left-text__text-wrap
                                .img-left-text__text Видеоконференция и медиаоборудование – профильные технологии <span class="colored">Aquatel Inc</span>. В нашем портфолио проекты разного масштаба: от небольших помещений до крупных офисов. Выбирая нас, вы выбираете немецкое качество, оборудование для видеоконференций от ведущих брендов и сервис европейского класса, которому уже доверяют в многих странах мира.

            .w-gap-lg
