extends _page-template

block content
    | <!-- skin 1 -->
    +header
    .w-inner
        +banner
        .w-center
            .w-gap-lg
                #about
                .img-right-text
                    .img-right-text__wrapper
                        .img-right-text__text-wrap
                            h1.banner__image-text-title.colored About us
                            .img-right-text__text.image-text-subtitle <span class="colored">Aquatel Inc</span> is positioning itself as a Value Added Reseller for the well known international <telecommunication brands>.
                            .w-gap
                            .img-right-text__text.image-text-subtitle Having its customer network in Eastern Europe, Baltic's and Transcaucasia States company committed to deliver leading edge telecommunication and audiovisual solutions to its customers.
                            .w-gap
                            .img-right-text__text.image-text-subtitle.banner__image-text-subtitle The product portfolio offered is often used at biggest corporations of Fortune 500 list as well as many state established entities over the world, world wide hotel networks, financial and energy related industries.
                            .w-gap
                            .img-right-text__text.image-text-subtitle Aquatel Inc is a strong international partner, grown in house secure corporate solutions expertise for videconfrencing, VOIP, cabling etc. We do believe communication is building a future of our rapidly changing world.
            .w-gap-lg
                #vendors
                +grid
            .w-gap-xl
                .txt-wrap
                    .img-left-text
                        .img-left-text__img
                            img(src="static/img/content/face.png" alt="")
                        .img-left-text__wrapper
                            .img-left-text__text-wrap
                                .img-left-text__text Videoconferencing and media streaming - root technologies for <span class="colored">Aquatel Inc.</span> Our portfolio includes projects of various sizes: from small premises to large offices. Choosing us, you choose high quality, videoconferencing equipment from leading brands and best in class service, which is already trusted in many countries around the world.
            .w-gap-lg
                #contacts
            .w-gap-lg
                .txt-wrap
                    .img-left-text
                        .img-left-text__img.w-column
                            h3 Contact us
                            p Address: 10785 W. Twain Ave., Suite 229</br> Las Vegas, NV 89135, USA
                            a(href="tel:+1 702 949 5531") Tel: +1 702 949 5531
                        .img-left-text__wrapper.m-w
                            .img-left-text__text-wrap.m-w
                                .img-left-text__text
                                    +form
