extends _page-template

block content
    | <!-- skin 1 -->

    .w-inner
        .w-center
            .w-gap-lg
                h1.banner__image-text-title.colored Mitel

            .w-gap-lg
                p Mitel — это глобальный лидер на рынке бизнес-коммуникаций, решений и услуг для корпоративного взаимодействия, самый быстрорастущий поставщик глобальных облачных платформ. Входит в четвёрку мировых лидеров по продажам систем бизнес-коммуникаций.
            .w-gap-lg
                .txt-wrap
                    .img-left-text
                        .img-left-text__img
                            img(src="static/img/content/321.png" alt="")
                        .img-left-text__wrapper
                            .img-left-text__text-wrap
                                .img-left-text__text С 1973 года компания предлагает комплексные решения в сфере IT и телекоммуникаций на базе высокотехнологичного оборудования и является правопреемником компании Aastra Telecom Sweden AB (ранее подразделения Enterprise Communication компании Ericsson). Имеет более 4000 партнеров по всему миру, обслуживает компании из 100 стран, располагая в общей сложности более чем 100 офисами.

            .w-gap-lg
                p Ежедневно более 70 миллионов пользователей используют решения Mitel. Сотрудничество с Mitel выбрали такие известные компании и структуры, как: Правительство республики Казахстан, МИД РФ, Транснефть, Роснефть, ГК Рольф, РУСАЛ, ЕВРАЗ, ТВЦ, ВГТРК, Knauf, Procter and Gamble и многие другие.
                p К настоящему моменту компания оформила уже более 700 патентов, охватывающих свыше 300 изобретений.

            .w-gap-lg