extends _page-template

block content
    | <!-- skin 1 -->

    .w-inner
        .w-center
            .w-gap-lg
                h1.banner__image-text-title.colored Poly

            .w-gap-lg
                p В 1969 году наши клиенты отправились в командировку. Нил Армстронг и Базз Олдрин при поддержке команды из НАСА совершили полет… на Луну. И они взяли с собой наши гарнитуры. Это было более 50 лет назад, и теперь вы можете увидеть, чем мы занимаемся сейчас. От поездки на Virgin Hyperloop для проведения первого успешного испытания с пассажирами до организации нового домашнего офиса — Poly поможет вам открыть новые горизонты.
                p Компания Poly появилась в результате слияния Plantronics и Polycom, и мы по-прежнему помогаем совершать гигантские скачки для всего человечества. Мы создаем высокотехнологичные и стильные устройства аудио- и видеосвязи, которые обеспечивают невероятную четкость изображения и звука, где бы вам ни приходилось работать. А предоставляемые вместе с ними программное обеспечение, технологии искусственного интеллекта и аналитические инструменты позволят вам выйти далеко за пределы простых возможностей подключения.

            .w-gap-lg
                .txt-wrap
                    .img-left-text
                        .img-left-text__img
                            img(src="static/img/content/321.png" alt="")
                        .img-left-text__wrapper
                            .img-left-text__text-wrap
                                .img-left-text__text Мы называем Сан-Хосе и Санта-Круз, штат Калифорния, своим домом, но мы, безусловно, являемся гражданами мира: более 6500 наших сотрудников работают в 75 офисах по всему миру. И часто даже совсем не в офисах.</br> COVID-19 стал важным катализатором изменений привычных подходов к организации работы и мощным стимулом цифровой трансформации, которая уже меняет деловой мир.

            .w-gap-lg
                p <strong>Теперь работа — это не просто место, это то, что вы делаете и как вы это делаете.</strong>
                p Poly является первопроходцем в решении вопроса, связанного с организацией удаленной работы, и занимается обеспечением равных возможностей для тех, кто присутствует в помещении, и тех, кто нет. Будь то офисное помещение, удаленный центр или ваш домашний кабинет, мы предоставим вам все необходимое. Poly оснащает офисные помещения и ваши персональные пространства, даже те, что находятся в открытом космосе, оборудованием, которое необходимо для обеспечения великолепного качества изображения и звука.
                p В конце концов, 90% компаний из списка Fortune 500 используют наши продукты и услуги на сумму, обеспечивающую годовой доход в размере 2 млрд долларов. Этого определенно хватит для того, чтобы совершить полет на Луну и обратно несколько раз.
                p Поэтому, если ваша компания открыта всему новому, способна выполнить любую поставленную перед собой задачу и не рассматривает неудачу в качестве возможного исхода, мы определенно должны поговорить. Неважно, с какой вы планеты.
            .w-gap-lg