.grid {
    &__list {
        @extend %ul-reset;
        display: flex;
        gap: 1rem;
        flex-flow: row wrap;
    }



    &__list-text {
        position: absolute;
        right: 0;
        bottom: -100%;
        left: 0;
        padding: 10px;
        background: rgba(35, 35, 35, .72);
        transition: bottom .25s ease-in-out;
    }

    a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 260px;
        padding: 3rem .8rem;
        overflow: hidden;
        background: #232323;
        font-size: 1.2rem;
        color: #fff;
        text-align: center;
        text-decoration: none;
        transition: all .35s ease-in-out;

        img {
            width: unset;
        }


        &:hover {
            background: #2c2c2c;

            .grid__list-text {
                bottom: 0;
            }

        }
    }

    @include respond-from(sm) {
        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        a {
            width: auto;
        }
    }

    @include respond-from(lg) {
        &__list {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

}