mixin grid()
    .grid
        .grid__wrap
            .grid__list
                a(href="/poly.html").grid__list-link
                    img(src="static/img/content/poly.png" alt="" width="80px" height="80px")
                    .grid__list-text POLY
                a(href="/mitel.html").grid__list-link
                    img(src="static/img/content/mitel.svg" alt="" width="80px" height="50px")
                    .grid__list-text MITEL
                a(href="/avaya.html").grid__list-link
                    img(src="static/img/content/avaya.svg" alt="" width="60px" height="50px")
                    .grid__list-text AVAYA
                a(href="/audiocodes.html").grid__list-link
                    img(src="static/img/content/audiocodes.svg" alt="" width="80" height="40px")
                    .grid__list-text AUDIOCODES

                a(href="/modulit.html").grid__list-link
                    img(src="static/img/content/modulit.png" alt="" width="80px" height="70px")
                    .grid__list-text MODULIT
                a(href="/poly.html").grid__list-link
                    img(src="static/img/content/ceragon.svg" alt="" width="60px" height="60px")
                    .grid__list-text CERAGON
