mixin grid()
    .grid
        .grid__wrap
            .grid__list
                a(href="/amc.html").grid__list-link
                    img(src="static/img/content/amc.png" alt="" width="140px" height="70px")
                    .grid__list-text AMC
                a(href="/albiral.html").grid__list-link
                    img(src="static/img/content/albiral.svg" alt="" width="80px" height="80px")
                    .grid__list-text Albiral
                a(href="/audiocodes.html").grid__list-link
                    img(src="static/img/content/audiocodes.svg" alt="" width="80" height="40px")
                    .grid__list-text AMC
                a(href="/avaya.html").grid__list-link
                    img(src="static/img/content/avaya.svg" alt="" width="60px" height="50px")
                    .grid__list-text AVAYA
                a(href="/axtel.html").grid__list-link
                    img(src="static/img/content/axtel.svg" alt="" width="80px" height="120px")
                    .grid__list-text AXTEL
                a(href="/clearone.html").grid__list-link
                    img(src="static/img/content/clearone.svg" alt="" width="80px" height="30px")
                    .grid__list-text CLEARONE
                a(href="/mitel.html").grid__list-link
                    img(src="static/img/content/mitel.svg" alt="" width="80px" height="50px")
                    .grid__list-text MITEL
                a(href="/poly.html").grid__list-link
                    img(src="static/img/content/poly.svg" alt="" width="80px" height="80px")
                    .grid__list-text POLY